{% extends 'base.html' %}

{% block title %}About{% endblock %}

{% block content %}
    <section class="about">
        <h1>About Zenith Fit</h1>
        <p>At Zenith Fit, our mission is to help people achieve their fitness goals and lead a healthier lifestyle. We believe that fitness is not just about physical exercise but also about a holistic approach to well-being.</p>
        <p>Our team of experienced trainers and nutritionists work together to create personalized workout plans and meal plans tailored to each individual's needs and goals. We understand that everyone's journey is different, and that's why we offer a wide range of services to cater to different fitness levels and preferences.</p>
        <p>Whether you're looking to lose weight, build muscle, or simply improve your overall health and fitness, Zenith Fit is here to support you every step of the way. Join our community and experience the power of a supportive and motivating environment that will help you achieve your dreams.</p>
    </section>
{% endblock %}
