{% extends 'base.html' %}

{% block title %}Register{% endblock %}

{% block content %}
    <section class="register">
        <h1>Join Zenith Fit</h1>
        <form action="{{ url_for('signup') }}" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="startDate">Start Date</label>
                <input type="date" id="startDate" name="startDate" required>
            </div>
            <button type="submit" class="btn btn-primary">Register</button>
        </form>
    </section>
{% endblock %}
